* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #181818;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3rem 0;
  background-color: #181818;
}

.heading {
  font-family: "Press Start 2P", cursive;
  font-size: 3.2rem;
}

.content {
  display: flex;
  justify-content: flex-start;
  padding: 0 12rem;
  gap: 6rem;
}

.controls {
  font-size: 1.6rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex: 1;
  margin: 0 4rem;
  flex-direction: column;
  background-color: #202020;
}

.colorPicker {
  padding: 0;
  background-color: transparent;
  appearance: none;
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */
  width: 9rem;
  height: 9rem;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.colorPicker::-webkit-color-swatch {
  border: none;
  border-radius: 1rem;
}

.colorPicker:hover {
  transform: scale(1.05);
  border: none;
}

.color_mode,
.rainbow_mode,
.eraser,
.clear {
  background-color: #181818;
  font-size: 1.6rem;
  color: #fff;
  width: 70%;
  font-weight: 600;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.color_mode:hover,
.rainbow_mode:hover,
.eraser:hover,
.clear:hover {
  background-color: #343a40;
  transform: scale(1.05);
}

.sizeValue {
  font-size: 1.6rem;
  font-weight: 600;
}

.range {
  width: 50%;
  border: solid 2px #364fc7;
  border-radius: 8px;
  height: 1rem;
  outline: none;
  transition: all 450ms ease-in;
  appearance: none;
  -webkit-appearance: none;
}

.range::-webkit-slider-thumb {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #434343;
}

.range::-moz-slider-thumb {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -moz-appearance: none;
  cursor: ew-resize;
  background: #434343;
}

input .range {
  width: 20px;
}

.board {
  width: 62rem;
  height: 62rem;
  display: grid;
  justify-self: flex-end;

  padding: 3rem;
  background-color: #202020;
  border-radius: 3rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.copyright {
  font-size: 2.2rem;
  padding: 2rem 2rem 1rem 2rem;
}

.leftmg {
    margin-left: .6rem;
}

.fa-github {
  color: white;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: scale(1.2);
}
