* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #181818;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3rem 0;
  background-color: #181818;
}

.heading {
  font-family: "Press Start 2P", cursive;
  font-size: 3.2rem;
}

.content {
  display: flex;
  justify-content: flex-end;
  padding: 0 12rem;
  gap: 5rem;
}

.board {
  width: 61rem;
  height: 61rem;
  display: grid;
  justify-self: flex-end;

  padding: 3rem;
  background-color: #343a40;
  border-radius: 3rem;
}

.controls {
  font-size: 1.6rem;
  display: flex;
  flex: 1;
  margin: 0 4rem;
  flex-direction: column;
  background-color: #343a40;
}

.colorPicker {
    width: 8rem;
    height: 8rem;
    border: none;
}

.color_mode {
    
}
